/* -- GLOBAL VARIABLES -- */
/* Color palette */
:root {
  --background: #eeebe6;
  --container: #dfe7e8;
  --highlight: #8ab5bb;
  --font-bright: #ffffff;
  --font-dark: #212427;

  --font-title: "Pangolin", sans-serif;
  --font-main: "Josefin Sans", sans-serif;
}

/* -- STYLE -- */

body {
  font-family: var(--font-main);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: var(--background);
  padding: 10px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: var(--font-dark);
}

main {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}

#body-content {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  /* width: 100%; */
  border: 1px solid var(--font-dark);
  margin-top: 0;
  margin-bottom: 0;
}

/* Header */
#header-container {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: var(--font-title);
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

#header-container p {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 1rem;
  font-style: italic;
  text-shadow: 2px 2px var(--highlight);
}

/* Form */
#form-container {
  height: 314px;
  padding: 2rem;
  transition: height 2s ease-in-out;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

label {
  margin-top: 0.5rem;
}

input {
  font-family: var(--font-main);
  font-size: 1rem;
  min-width: 200px;
  height: 1.5rem;
  border-radius: 5px;
  border: var(--font-dark) solid 2px;
}

.slider {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: var(--font-bright);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: var(--highlight);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: var(--highlight);
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb:active {
  width: 25px;
  height: 25px;
}

#radius-value {
  color: var(--highlight);
  font-weight: bold;
}

button {
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 5px;
  border: var(--font-dark) solid 2px;
  background-image: linear-gradient(
    to right,
    var(--highlight),
    var(--highlight) 50%,
    transparent,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease;
}

button:hover {
  background-position: 0 0;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px var(--font-dark);
}

#submit-button {
  margin-top: 1rem;
}

#new-search-button {
  display: none;
  width: fit-content;
  transition: display 1s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Result and Table */
#result-container {
  display: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countResult {
  text-align: center;
  font-size: 1.2rem;
}

#tableElement {
  width: 100%;
}

#earthquakeTable {
  border-collapse: collapse;
  width: 100%;
  overflow-x: hidden;
  border: 2px solid var(--highlight);
  color: var(--font-dark);
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: var(--highlight);
  text-align: left;
  padding: 0.2rem;
  box-sizing: border-box;
  border: 2px solid var(--highlight);
}

td {
  padding: 0.2rem;
  box-sizing: border-box;
  border: 2px solid var(--highlight);
}

tr:nth-child(even) {
  background-color: var(--container);
}

tr:hover {
  background-color: var(--font-bright);
}

/* Modal Windows */
.modal {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  height: 80%;
  max-width: 960px;
  background-color: var(--highlight);
  padding: 2rem;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--background);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 2px var(--font-dark);
  font-size: 30px;
  opacity: 0.8;
}

.close-button:hover {
  cursor: pointer;
  opacity: 1;
}

.close {
  margin: auto;
  transform: translateY(-4px);
}

/* Help Section */

#help-button {
  position: absolute;
  top: 22%;
  left: 80%;
  height: 40px;
  width: 40px;
  background-color: var(--highlight);
  border-radius: 50%;
  border: solid 2px var(--font-dark);
  animation: bounce-question-mark 0.5s ease-in-out 2s 2 forwards;
  opacity: 0.9;
}

#help-button:hover {
  cursor: pointer;
  opacity: 1;
}

#question-mark {
  height: 40px;
}

#help-content h2 {
  text-align: center;
}

#help-content {
  text-align: justify;
}

@keyframes bounce-question-mark {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Footer */
footer {
  position: relative;
  grid-column: 1;
  grid-row: 3;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

/* Loader */
.loader {
  display: none;
  border: 8px solid rgba(92, 92, 92, 0.3);
  border-top: 8px solid var(--highlight);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Initially hide the map */
#map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  /* Ensure the map is on top of other elements */
}

#map {
  position: reletive;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Close button styles */
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #999;
  padding: 5px;
}
