/* -- GLOBAL VARIABLES -- */
/* Color palette */
:root {
  --background: #eeebe6;
  --highlight: #8ab5bb;
  --font-bright: #ffffff;
  --font-dark: #212427;
}

/* -- STYLE -- */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}

/* Header */
#header-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

#header-container p {
  font-size: 1.5rem;
  margin-left: 1rem;
}

/* Form */
#form-container {
  max-width: 200px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

label {
  margin-top: 0.5rem;
}

input {
  max-width: 200px;
  height: 1.5rem;
  border-radius: 5px;
  border: black solid 2px;
}

button {
  margin-top: 1rem;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: black solid 2px;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
